@page "/servers/{Serverid}/{Channelid?}"
@inherits ServerPageBase

<div class="channelmenu">
    <CascadingValue Value="@Serverid">
        <CascadingValue Value="@Channelid">
            <ChannelMenu />
        </CascadingValue>
    </CascadingValue>
</div>